

.top-right {
  position: fixed;
  top: 0;
  right: 0;
  

}


.btn-blue {
  position: relative;
  left: 0%;
  right: 0.43%;
  top: 0%;
  bottom: 0.55%;
  width: 113px;
  height: 42px;
  background: #2068A8;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.06);
}


/* Rectangle 1 */

.checkout-btn{
  position: absolute; 
  right: 0;
  width: 197px;
  height: 52px;
  top: 0px;
 
  float: right;
  bottom: 0.55%;
  background: #c9c9b4;
  border: 2px #c7c7c1;
  color: white
}

.add-cart-btn{
  position: relative;
  width: 100px;
  height: 20px;
  left: 23px;
  top: 5px;
  border-radius: 10px;
  background: #c9c9b4;
  border: 2px #c7c7c1;
  color: white;
  font-size: 10px
}


.modal-checkout-btn{
  position: relative;
  height: 45px;
  top:0px;
  background: #c9c9b4;
  border: 2px #c7c7c1;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  }

.add-item-btn{
  position: relative;
  width: 100px;
  height: 20px;
  left: -85px;
  top: 0px;
  bottom: 0.55%;
  background: #c9c9b4;
  border: 2px #c7c7c1;
  color: white;
  font-size: 10px
  }



.remove-btn {
  margin-top: 13px;
  background: #c9c9b4;
  color: rgb(98, 84, 54);
  border: 2px solid #c0c0a8;
  border-radius: 10px;
  height: 30px;
  width: 70px;
  
}

.modal-fixed {
  height: 100px;
}

.modal-total-btn{
  position: relative;
  height: 45px;

  background: #c9c9b4;
  border: 2px #c7c7c1;
  color: white;
  text-align: left;
  padding-left: 15px;

  padding-top: 10px;
  
  }


  .added-to-cart{
    position: relative;
    width: 100px;
    height: 20px;
    top: 13px;
    color: #c9c9b4;
    font-size: 12px
  }


  .signup_btn{
    position: relative;
    background: #c9c9b4;
    border: 2px #c7c7c1;
    height: 40px;
    border-radius: 10px;
    color: #fdfdf7;
    margin: 15px 0px 5px ;
  }

  .logout{
    position: absolute; 
    right: 250px;
    top: 14px;
    font: 50px;
    cursor: pointer;
  
    color: rgb(255, 255, 255)
    
  }

  .checkout{
   position:relative;
    background: #585041;
    color: #fdfdfe;
    border: 2px solid #585041;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    font-size: 15px;
    margin-right: 10px;
  }
  .checkout-guest{
    position:relative;
     background: #585041;
     color: #fdfdfe;
     border: 2px solid #585041;
     border-radius: 10px;
     height: 30px;
     width: 120px;
     font-size: 11px;
     margin-right: 10px;
   }

  .flex-container {
    display: flex;
    background: #c9c9b4;
    align-items: center;
    justify-content: space-between;
  }

  .flex-container-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  